@{
    ViewBag.Title = "Main Page";
}

<div class="jumbotron" style="background-color: #9cd5f2; padding-bottom: 50px; padding-top:50px;">

    <p align="center" style="font-style:oblique ;font-size:60px">HUSKY.MARKET</p>
</div>